body {
    background-color: #f5f6f8;
}

.sidebar {
    height: 100vh;
    background-color: #f8f9fa;
    border-right: 1px solid #dee2e6;
}

.sidebar .nav-link {
    color: #212529;
}

.sidebar .nav-link:hover {
    color: #005ca9;
}

.card {
    border: none;
}

.card {
    border: none;
}

.nav-link {
    color: #333;
}

.nav-link:hover {
    color: #005CA9;
}

.table {
    background-color: white;
}

@media print {

    .sidebar,
    .topbar,
    .sticky-footer,
    .no-print {
        display: none !important;
    }

    #content-wrapper,
    #content,
    .container-fluid {
        margin: 0 !important;
        padding: 0 !important;
        width: 100% !important;
    }

    body {
        background-color: white !important;
    }

    .card {
        box-shadow: none !important;
    }
}